# API 啟動設定
API_HOST=0.0.0.0
API_PORT=8000

# 模型存放路徑與檔名設定
# 此處為預設使用 Ultralytics 上較輕量的 YOLOv8 Nano 版網路權重
WEIGHTS_DIR=model_weights
SEG_MODEL_NAME=yolov8m-seg.pt
POSE_MODEL_NAME=yolov8m-pose.pt

# 未來如果有資料庫設定或外部 API Key 都可以繼續加在這裡
