# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments (環境變數與虛擬環境)
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


# Datasets & Temporary Files (資料集與輸出)
data/.cache/
data/input/
data/output/
# data/sample.csv

# IDEs & OS System Files (開發工具與系統檔)
.vscode/
.idea/
.DS_Store
Thumbs.db
